<header class="border-bottom box-shadow text-light">
  <div class="app-name">
    <h3 class="font-weight-normal">WorkSync</h3>
  </div>
  <nav>
    <div class="container-fluid">
      <ul>
        <!-- <li routerLink="/home">Home</li> -->
        <li routerLink="/dev-dashboard">Developer</li>|
        <li routerLink="/pm-dashboard">Manager</li>
      </ul>
    </div>
  </nav>
  <div class="logout-btn btn">
    <button routerLink="/" class="text-light fw-bold fw-monospace">Logout</button>
  </div>
</header>