header {
  display: flex;
  justify-content: space-between;    
  background-color: #5D3FD3;
  color: white;
  max-height: 3.5em;
  padding: 1em;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  gap: 1em;
  color: #fff;
}

li {
  position: relative;
  list-style: none;
  cursor: pointer;
  padding-bottom: 0.2em;

  &::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1em; /* The "border" effect */
    background-color: lightgreen;
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1); /* Expands to full width on hover */
  }
}

button {
  position: relative;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-variant: small-caps;
  font-size: 1em;
  padding-bottom: 0.2em;

  &::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1em; /* The "border" effect */
    background-color: lightgreen;
    transform: scaleX(0); /* Initially hidden */
    transition: transform 0.2s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1); /* Expands to full width on hover */
  }
}