header {
  display: flex;
  justify-content: space-between;    
  background-color: #5D3FD3;
  padding: 1em;
  font-size: 1.25em;
}

ul {
  display: flex;
  gap: 1em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-variant: small-caps;
  font-size: 1em;
}