<div class="container">
  <div class="wrapper">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="register">
      <h2>Register</h2>
      <form>
        <div class="input-box"><input type="text" name="name" placeholder="Enter your name" required [(ngModel)]="registerObj.name"></div>
        <div class="input-box"><input type="email" name="email" placeholder="Enter your email" required [(ngModel)]="registerObj.email"></div>
        <div class="input-box"><input type="password" name="password" placeholder="Create password" required [(ngModel)]="registerObj.password"></div>
        <!-- <div class="input-box"><input type="password" placeholder="Confirm password" required></div> -->
        <!-- <div class="policy">
          <input type="checkbox"><h3>I accept all terms & condition</h3>
        </div> -->
        <div class="input-box button">
          <input (click)="onRegister()" type="Submit" value="Register Now">
        </div>
        <div class="text">
          <h3>Already have an account? 
            <label for="chk" aria-hidden="true">Login</label>
          </h3>
        </div>
      </form>
    </div>
    <div class="login">
      <h2>Login</h2>
      <form>
        <div class="input-box"><input type="email" name="email" placeholder="Enter email" required [(ngModel)]="loginObj.email"></div>
        <div class="input-box"><input type="password" name="password" placeholder="Enter password" required [(ngModel)]="loginObj.password"></div>
        <div class="input-box button">
          <input (click)="onLogin()" type="Submit" value="Login">
        </div>
        <div class="text">
          <h3>Don't have an account?
            <label for="chk" aria-hidden="true">Register</label>
          </h3>
        </div>
      </form>
    </div>
  </div>
</div>